{{ $page := .wcPage }}
{{ $block := .wcBlock }}
{{ $columns := $block.Params.design.columns | default "2" }}

<div class="row">
<div class="section-heading col-12 col-lg-4 mb-3 mb-lg-0 d-flex flex-column align-items-center align-items-lg-start">
    <h1 class="mb-0">{{ $block.Title }}</h1>
    <h4 class="mb-0">{{$block.Params.Subtitle}}</h4>
</div>
<div class="col-12 {{if eq $columns "2"}}col-lg-8{{end}}">
{{ if $block.Params.organizers }}
<div class="h2 mb-3 timeline_item">Symposium Organizers</div>
{{ if $block.Params.organizers.item }}
{{ range $idx, $key := sort $block.Params.organizers.item ".weight" "asc" }}
  <div class="card experience course">
    <div class="card-body">
        <h2 class="mb-3 timeline_item">{{ .title  }}</h2>
        {{ if .item }}
        {{ range $idx, $key := sort .item  ".weight" "asc" }}
        <div class="card experience course">
            <div class="card-body">
                <div class="com_row">
                    <div class="com_col com_left">{{.title}}</div>
                    <div class="com_col com_right com_affil">{{.affiliation}}</div>
                </div>
            </div>
        </div>
        {{ end }}
        {{ end }}
    </div>
  </div>
{{ end }}
{{ end }}
{{ end }}
</div>
</div>
